<mat-toolbar id="maintoolbar" color="primary">
  <mat-icon id="toolbarmenu" (click)="sidenav.toggle()">subject</mat-icon>
  Material Portfolio
</mat-toolbar>


<mat-sidenav-container id="sideContainer" fullscreen>
  <mat-sidenav mode="side" opened #sidenav id="sidenav">
    <mat-list id="itemContainer">
      <mat-list-item id="items">
        <button mat-flat-button>
          <mat-icon id="sidenavicons">
            perm_identity
          </mat-icon>
          About
        </button>
      </mat-list-item>
      <mat-list-item id="items">
        <button mat-flat-button>
          <mat-icon id="sidenavicons">
            work
          </mat-icon>
          My Works
        </button>
      </mat-list-item>
      <mat-list-item id="items">
        <button mat-flat-button>
          <mat-icon id="sidenavicons">
            school
          </mat-icon>
          Education
        </button>
      </mat-list-item>
      <mat-list-item id="items">
        <button mat-flat-button>
          <mat-icon id="sidenavicons">
            assessment
          </mat-icon>
          Skills
        </button>
      </mat-list-item>
      <mat-list-item id="items">
        <button mat-flat-button>
          <mat-icon id="sidenavicons">
            verified_user
          </mat-icon>
          Achivements
        </button>
      </mat-list-item>
    </mat-list>
    <!-- <mat-list id="social_itemContainer">
      <mat-list-item id="social">
        <button mat-flat-button>
          <mat-icon id="social_icons">
            icons_social
          </mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item id="social">
        <button mat-flat-button>
          <mat-icon id="social_icons">
            icons_social
          </mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item id="social">
        <button mat-flat-button>
          <mat-icon id="social_icons">
            icons_social
          </mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item id="social">
        <button mat-flat-button>
          <mat-icon id="social_icons">
            icons_social
          </mat-icon>
        </button>
      </mat-list-item>
    </mat-list> -->

  </mat-sidenav>
  <mat-sidenav-content id="mainContent">
    <div class="login">
      <h1>Authentication</h1>
      <router-outlet></router-outlet>
      <div *ngIf="auth.user$ | async as user; else login">
          <a routerLink="/dashboard">go dash</a>
         <pre>
           {{user | json}}
         </pre>
         <img src="{{user.photoURL}}" alt="">
            <hr>
            <button class="button" (click)="auth.signOut()">Sign Out</button>
        </div>

        <ng-template #login>
            <button class="button" (click)="auth.googleSignin()">SignIn With Google</button><br><br>
            <button class="button" (click)="showPhoneInupt()">SignIn With Phone</button>
        </ng-template>
      </div>
      
      
    </mat-sidenav-content>
  </mat-sidenav-container>


